# Environment variables for docker-compose.yml

HOST=registry.traefik.test
NETWORK=web
NETWORK_EXTERNAL=true

## This file must be inside `auth` directory
## to work with current docker-compose configuration.
## To use Make recipes, make sure to add `.password` extension
USERS_FILE=registry.password
